@font-face {
    font-family: 'FiraSans';
    font-weight: normal; /* Укажите нормальный вес шрифта */
    font-style: normal; /* Укажите стиль шрифта, если это необходимо */
    font-display: swap; /* Опционально, для улучшения загрузки шрифта */
    src: url('./FiraSansCondensed-Regular.woff2') format('woff2'); /* Убедитесь, что файл существует */
}

/* Если у вас есть полужирный вариант шрифта, добавьте его так: */
@font-face {
    font-family: 'FiraSans';
    font-weight: bold; /* Укажите полужирный вес шрифта */
    font-style: normal; /* Укажите стиль шрифта, если это необходимо */
    font-display: swap; /* Опционально */
    src: url('./FiraSansCondensed-Bold.woff2') format('woff2'); /* Убедитесь, что файл существует */
}

@font-face {
font-family: Oswald;
    src:
        url(./Oswald-Bold.woff2) format('woff2'),
        url(./Oswald-Bold.woff) format('woff');
        font-weight: normal;
        font-display: swap;
} 