*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search-form__textfield {
  font-family: "FiraSans", sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 18px;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  min-width: 225px;
  height: 100%;
  background-color: transparent;
}

.content {
  height: auto;
  display: grid;
  grid-template-columns: 63% 32%;
  grid-template-areas: "result content__details";
  width: 100%;
  padding: 30px;
  padding-right: 0;
  gap: 10px;
}

.result {
  display: flex;
  grid-area: result;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  padding-top: 75px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 385px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.result__video {
  object-fit: cover;
  width: 711px;
  height: 100%;
}

.content__details {
  grid-area: content__details;
  min-width: 399px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__video-card-thumbnail {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 800;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 68px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form__checkbox-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #ffffff;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-image: url("../images/active_button.svg"); /* Путь к изображению для активного состояния */
  background-position: center;
  background-size: cover; /* Или 'contain', в зависимости от ваших нужд */
  background-repeat: no-repeat; /* Чтобы избежать повторения изображения */
  background-size: 18px 18px;
}

.search-form__fieldset {
  padding-top: 20px;
  border: none;
  margin-right: 40px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-family: FiraSans, sans-serif;
  font-size: 18px;
}

.search-form__submit-button {
  position: relative;
  outline: none;
  cursor: pointer;
  margin-top: 35px;
  width: 195px;
  height: 35px;
  z-index: 1;
}

.more-button {
  width: 100%;
  height: 38px;
}

.button {
  color: #fff;
  background-color: transparent;
  border: 1px solid currentColor;
  font-family: FiraSans, sans-serif;
  font-size: 18px;
}

.content__list {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.content__list-item {
  width: 390px;
  min-height: 100px;
  margin-bottom: 20px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 300px;
  margin-top: 5px;
}

.title .content__accent {
  line-height: 70.5px;
  color: #545050;
}

.content__video-card {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content__card-link {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.content__video-card-title {
  width: 95%;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  line-height: 30px;
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  margin-top: 5px;
  font-family: FiraSanvs, sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 16.2px;
}

.search-form__label-text {
  font-family: "FiraSans", sans-serif;
  font-size: 18px;
  margin-left: 5px;
}

.content__list-container .preloader-template {
  overflow-y: hidden;
}


.search-form__textfield:active {
  border: 1px solid #fff;
}

.button:active {
  background-color: #545050;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.search-form__label:focus {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.content__card-link:focus {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -4px;
}
